<div class="container">
  <div class="element header"></div>
  <div class="element metrics"></div>
  <div class="element controls">
    <div class="title">Recibos Subidos</div>
    <div class="actions">
      <button class="action export csv" (click)="open()">Subir Recibos </button>
      <button class="action add receipts">Subir Grupo</button>
    </div>
  </div>
  <div class="element table">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Recibo</th>
          <th>Empresa</th>
          <th>Fecha de Subida</th>
          <th>Usuario</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recibo of gruposRecibo">
          <td><input type="checkbox"/></td>
          <td>{{recibo.nombre}}</td>
          <td>{{recibo.empresa.nombre}}</td>
          <td>{{recibo.fechaSubida}}</td>
          <td>{{recibo.usuario}}</td>
          <td>{{recibo.estado.descripcion}}</td>
          <td><button (click)="detalle(recibo.id)">detalle</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-archivomodal></app-archivomodal>

