<ng-container *ngIf="thisDisplay$ | async as display">
  <section [class.open]="display === 'open'"
           (click)="close()">
    <div (click)="$event.stopPropagation()">
      <button class="close"
              type="button" 
              (click)="close()">X</button>

      <app-dragdropfiles></app-dragdropfiles>
      <button (click)="close()">
        Cancelar
      </button>
      <button (click)="upload()">Subir</button>
    </div>
    <app-confirmationmodal></app-confirmationmodal>
  </section>
</ng-container>
